@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');


/*공통*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img { margin:0; padding:0; }
html { width:100%; height:100%; }
body { min-width:360px; }
li { list-style:none; }
ul,ol{list-style: none;}
a:hover { text-decoration:underline; }
a:active { text-decoration:none; } 
a {color: #ffffff; text-decoration:none !important }
body { margin: 0;padding: 0; width: 100%;background-color: #000000;	text-transform: uppercase;}

html { 	font-size: 18px; color: #000; letter-spacing: -0.03rem; background-color: #000;}
body, h1, h2 { 
                font-family:'Noto Sans KR', sans-serif; 
                font-weight: 400; 
                text-align: center; 
                word-break: keep-all;               
}
html, body{/*overflow-x:hidden; */margin: 0; padding: 0;}

/* header,footder */
header{ width: 100vw; height: 110px;}
.main-container{ background-repeat: repeat-x;  background-position: center;background-color: #000;}
.uk-position-top { top: 30px; z-index: 10;}
.uk-navbar{border-bottom: 1px solid #ffffff; height: 110px;}
.logo{ }
.uk-logo { width: 183px; display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;}
.uk-logo img { width: 100%;}
.footer{margin-top:340px; bottom:0;}

/* section */
.section-main{
	position: relative;
    width: 100%;
    height: 100%;
    /*margin: 0 auto;*/}

.step2-video{
	position:relative;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 248px;
}
.step2-video p{
  color:white;
  font-size: 20px;	
  font-weight: 400;
  line-height: 1.5em;
  font-family: 'Roboto Condensed','Noto Sans KR', sans-serif;
  word-break: keep-all;
  position: relative;
  margin-bottom: 0;
  text-align: justify; 
  max-width: 817px!important; height: auto !important; margin: 97px auto; position: relative;
  
}
.scroll-graphic{
	position: sticky; 
	top:0;
}

/*bg배경 컨테이너 */
.graphic-item{
	position: absolute;
	top:0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.scene-img{
	max-width: 100vw;
}
.scroll-text{
	position: relative;
}	
.scroll-width{	
	margin:0 auto; 
	padding: 0 0m;
	/*max-width: 1920px;*/
}
.bg-video {
	position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.step5-tit >img{
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding-top: 162px;
}

.step3-video{ 
    margin-top: 358px; 
    position: relative;
}
.step9-img{  m
    argin-bottom: 340px;
}
.height1400{
    width:auto;  
    height: 1400px;
}

/* Slider */
.case-slider {
     margin-top: 198px;
}
.slick-slide { 
    margin: 0px 20px;
}
.slick-slide img { 
    width: 100%; 
    height: 100%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus{ outline: none;}
.slick-list.dragging{ cursor: pointer; cursor: hand;}
.slick-slider .slick-track,
.slick-slider .slick-list{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after{
    display: table;
    content: '';
}
.slick-track:after{clear: both;}
.slick-loading .slick-track{ visibility: hidden;}

.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide{ float: right;}
.slick-slide img{ display: block;}
.slick-slide.slick-loading img{
    display: none;
}
.slick-slide.dragging img{ pointer-events: none;}
.slick-initialized .slick-slide{ display: block;}
.slick-loading .slick-slide{ visibility: hidden;}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden { display: none;}

/* section6 image banner*/
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
   
.uk-flex{display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;}

/*섹션6 show hide*/
button.uk-button.uk-button-default.popup_a {
    border: hidden; display: inline-flex;}

.content-pop{
	position: relative;
	background: rgba(100, 100, 100, 0.8);
	border-radius: .4em;
    transition: all .2s;
}

.content-pop:after {
	content: '';
	position: absolute;
	top: 0;
	left: 20%;
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-bottom-color: rgba(100, 100, 100, 0.8);
	border-top: 0;
	margin-left: -13px;
	margin-top: -13px;
}
.content-pop p {
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    color: #ffffff;
    line-height: 1; 
    padding: 10px;
}
.product01{
    width: 530px!important;
    padding: 15px!important;
}

.product02{
    width:1057px!important;
    padding: 15px!important;
    margin-top: 15px!important;
}
.product03{
    width: 530px!important;
    padding: 15px!important;
    margin-top: 15px!important;
}
.product05{
    width:1057px!important;
    padding: 15px!important; 
}
.product06{
    width: 423px!important;
    padding: 15px!important; 
}
.popup1{
    position: absolute;
    top: 462px !important;
    left: 196px !important;
    width: 266px !important;
}

.popup2{
    position: absolute;
    top: 703px !important;
    left: 586px !important;
    width: 266px !important;
    

}

.popup3{
    position: absolute;
    top: 352px !important;
    left: 322px !important;
    width: 266px !important;
}

.popup4{
    position: absolute;
    top: 242px !important;
    left: 691px !important;
    width: 204px !important;
}

.popup5{
    position: absolute;
    top: 1065px !important;
    left: 378px !important;
    width: 204px !important;
}

.popup6{
    position: absolute;
    top: 371px !important;
    left: 61px !important;
    width: 204px !important;
}
.popup7{
    position: absolute;
    top: 318px !important;
    left: 639px !important;
    width: 204px !important;
}
.popup8{
    position: absolute;
    top: 279px !important;
    left: 1016px !important;
    width: 204px !important;
}
.text-ani{
    position: absolute;
    top:0;
    left:0;
    right: 0;
}
.motion-e {    

    top: 530px;
    right: 165px;
    position:absolute;
 
}
.motion-m{   
    top: 526px;
    left: 183px;
    position: absolute;
}

.motion-this{
    position:absolute;
    top: 150px;
    left: 0;
    right: 430px;
}


/*foot 타이포 슬라이드 */
#content-slide{ margin: 0; padding: 0; box-sizing: border-box;}
.viewBox{ width: 100%; height: 360px;}
.slideBox{ width: 200%; height: 100%; display: flex; animation: flowText 20s linear infinite;}
.leftBox, .rightBox{ width: 50%; height: 100%; display: flex; justify-content: space-around; align-items: center;}
.slideItem{ font-size: 2rem; font-weight:thin; color: #ffffff; font-family: 'Montserrat', sans-serif;letter-spacing: 5px;}

@keyframes flowText {
    0% {transform: translateX(0);}
    100%{transform: translateX(-50%);}    
}

@media (min-width: 1930px) { 
    .text-ani{
      
        top:0;
        left:0;
        right: 0;
    }
    .motion-e {    
    
        top: 530px;
        right: 466px;
        position:absolute;
     
    }
    .motion-m{   
        top: 526px;
        left: 476px;
        position: absolute;
    }
    
    .motion-this{
        position:absolute;
        top: 150px;
        left: 0;
        right: 430px;
    }

 }





/********************* Mobile / Tablet *********************/
@media all (max-width:1024px) {
	.uk-position-top { top: 30px; z-index: 10;}
    body{margin: 0;padding: 0; width: 100%; background-color: #000000;}	
    html { font-size: 13px;}
    .footer{margin-top:30px; bottom:0;}
	h1 { font-size: 30px !important;}
	h2 { font-size: 22px !important;}
	.uk-logo {width:100%; height:auto; margin: 0 auto; }
    .uk-logo img { max-width: 30%;}
	.scroll-width{margin:0 auto; padding: 0 1rem;}
	.uk-navbar{border-bottom: 0.05rem solid #ffffff; }
	.scroll-graphic{position: sticky; top:0;}
    .step2-video { position: relative;  top: 0; left: 0; right: 0; padding-top: 123px;  width: 80%; margin: 0 auto;}
	.step2-video p{ font-size: 13px;font-weight: 400;line-height: 1.5em;word-break: keep-all;position: relative;text-align: justify; 
        max-width: 500px!important; height: auto !important; margin: 50px auto; position: relative;}
    .step3-video {padding: 0 100px; margin-top: 60px;}
	.scroll-text{position: relative; }	
	.step{ color:white; font-size: 0.8rem;	 font-weight: 200;  line-height: 1.5em;}
    .scene-img { max-width: 100vw;}
    .height1400{height: 1100px;}
    .step5-tit >img {max-width:50% ; margin-top: 50px;}
    .scroll-width{margin:0 auto;   padding: 0 0; max-width: 1920px;}
    .graphic-item{ position: absolute; top:0;left: 0; display: flex;  align-items: center; justify-content: center; width: 100%; }
    .bg-video {position: sticky; width: 100%; margin: 0 auto; }
    .slick-slide > img{ height: 80%; width: 80%;}
    .text-ani{ position: absolute;top:0;left:0; right: 0;width: 70%; }
    .motion-e { position: absolute; top: 299px;right: -225px;width: 17%;}
    .motion-m{ position: absolute;top: 367px;left: 25px; width: 23%;}
    .motion-this{ position: absolute;top: 71px;left: 136px;width: 35%;}

    #content-slide{ margin: 0; padding: 0; box-sizing: border-box;}
    .viewBox{ width: 100%; height: 100px; margin-top: 20px;}
    .slideBox{ width: 450%; height: 100%; display: flex; animation: flowText 20s linear infinite;}
    .leftBox, .rightBox{ width: 50%; height: 100%; display: flex; justify-content: space-around; align-items: center;}
    .slideItem{ font-size: 1.5rem; font: weight :thin; color: #ffffff; font-family: 'Montserrat', sans-serif;letter-spacing: 2px;}
        @keyframes flowText {
            0% {transform: translateX(0);}
            100%{transform: translateX(-50%);}    
        }
    button.uk-button.uk-button-default.popup_a {
        border: hidden;     display: inline-flex;}  

    .product01 {
        width: 400px!important;
        padding: 15px!important;   
    }   
    
    .product02{
        width:800px!important;
        padding: 15px!important;
        margin-top: 15px!important;
    }
    .product03{
        width: 400px!important;
        padding: 15px!important;
        margin-top: 15px!important;
    }
    .product05{
        width:800px!important;
        padding: 15px!important; 
    }
    .product06{
        width: 300px!important;
        padding: 15px!important; 
    }    
    .popup1{
        position: absolute;
        top: 349px !important;
        left: 499px !important;
        width: 266px !important;
    }  
    .popup2{
        position: absolute;
        top: 610px !important;
        left: 560px !important;
        width: 230px !important;
    }
    
    .popup3{
        position: absolute;
        top: 292px !important;
        left: 199px !important;
        width: 148px !important;
    }
    
    .popup4{
        position: absolute;
        top: 267px !important;
        left: 637px !important;
        width: 252px !important;
    }
    
    .popup5{
        position: absolute;
        top: 831px !important;
        left: 336px !important;
        width: 204px !important;
    }
    
    .popup6{
        position: absolute;
        top: 282px !important;
        left: 61px !important;
        width: 204px !important;
    }
    .popup7{
        position: absolute;
        top: 245px !important;
        left: 394px !important;
        width: 163px !important;
    }
    .popup8{
        position: absolute;
        top: 238px !important;
        left: 706px !important;
        width: 148px !important;
    
    }
}


/********************* Tablet / PC *********************/
@media all and (min-width:768px) and (max-width:1024px) {
    html,body{overflow-x: hidden;}
    .text-ani{ position: absolute; top:0;left:0;right: 0; }
    .motion-e { position: absolute;top: 216px;right: -14px;}
    .motion-m{ position: absolute;top: 270px;left: -43px;}
    .motion-this{ position: absolute; top: 43px;left: 136px;}
    .motion-e > img{width: 50%;}
    .motion-m > img{width: 50%;}
    .motion-this > img{width: 50%;}
    .height1400{height: 800px;}
    .scroll-width{margin:0 auto; padding: 0 1rem;}
    .scroll-graphic{position: sticky; top:0;}
    .graphic-item {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;}
    .footer{margin-top:30px; bottom:0;}
    .uk-navbar{border-bottom: 0.05rem solid #ffffff; }
	.step2-video p{ font-size: 13px;font-weight: 400;line-height: 1.5em;word-break: keep-all;position: relative;text-align: justify; 
        max-width: 400px!important; height: auto !important; margin: 45px auto; position: relative;}
    .step3-video {padding: 0 50px; margin-top: 100px; }
    .step2-video {  position: relative;top: 0;left: 0;right: 0;padding-top: 75px;width: 80%;margin: 0 auto;}
	.scroll-text{position: relative; }	
	.step{ color:white; font-size: 0.8rem;	 font-weight: 200;  line-height: 1.5em;}
    .case-slider { margin-top: 60px}
    .scene-img { max-width: 100vw;}
    .scroll-width{margin:0 auto;   padding: 0 0; max-width: 1920px;}
    .graphic-item{ position: absolute; top:0;left: 0; display: flex;  align-items: center; justify-content: center; width: 100%; }
    .bg-video {position: relative; width: 100%; height: 100%; margin: 0 auto; }
    button.uk-button.uk-button-default.popup_a {
        border: hidden;     display: contents;}
     /*foot 타이포 슬라이드 */
    #content-slide{ margin: 0; padding: 0; box-sizing: border-box;}
    .viewBox{ width: 100%; height: 100px; margin-top: 20px;}
    .slideBox{ width: 400%; height: 100%; display: flex; animation: flowText 20s linear infinite;}
    .leftBox, .rightBox{ width: 50%; height: 100%; display: flex; justify-content: space-around; align-items: center;}
    .slideItem{ font-size: 1.5rem; font-weight:thin; color: #ffffff; font-family: 'Montserrat', sans-serif;letter-spacing: 2px;}

        @keyframes flowText {
            0% {transform: translateX(0);}
            100%{transform: translateX(-50%);}    
        }
    
    .content-pop{
        position: relative;
        background: rgba(100, 100, 100, 0.8);
        border-radius: .4em;
        transition: all .2s;
    }
    
    .content-pop:after {
        content: '';
        position: absolute;
        top: 0;
        left: 40%;
        width: 0;
        height: 0;
        border: 13px solid transparent;
        border-bottom-color: rgba(100, 100, 100, 0.8);
        border-top: 0;
        margin-left: -13px;
        margin-top: -13px;
    }
    .content-pop p {
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        color: #ffffff;
        line-height: 1; 
        padding: 10px;
    }
    .popup1 {
        position: absolute;
        top: 323px !important;
        left: 171px !important;
        width: 188px !important;
    } 
    .popup2{
        position: absolute;
        top: 469px !important;
        left: 414px !important;
        width: 175px !important;
        }       
    .popup3 {
        position: absolute;
        top: 260px !important;
        left: 258px !important;
        width: 108px !important;
    }

    .popup4 {
        position: absolute;
        top: 185px !important;
        left: 460px !important;
        width: 172px !important;
    }

    .popup5 {
        position: absolute;
        top: 769px !important;
        left: 275px !important;
        width: 134px !important;
    }

    .popup6{
        position: absolute;
        top: 190px !important;
        left: 54px !important;
        width: 120px !important;
    }

    .popup7 {
        position: absolute;
        top: 184px !important;
        left: 379px !important;
        width: 105px !important;
    }
    .popup8 {
        position: absolute;
        top: 165px !important;
        left: 575px !important;
        width: 85px !important;
    }      
    .product01{
        width: 35% !important;
        padding: 5px!important;
    }

    .product02{
        width:71%!important;
        padding: 7px!important;
    }
    .product03{
        width: 35%!important;
        padding: 5px!important;
        margin-top: 15px!important;
    }
    .product05{
        width:71%!important;
        padding: 7px!important; 
    }
    .product06{
        width: 25%!important;
        padding: 5px!important; 
    }       
}




/********************* Mobile *********************/
@media (max-width: 638px) {
    body{background-color: #000000;margin: 0;padding: 0; width: 100%; }
	html { font-size: 13px;}
    .footer{margin-top:30px; bottom:0;}
	h1 { font-size: 30px !important;}
	h2 { font-size: 22px !important;}
	.uk-logo {width:100%; height:auto; margin: 0 auto; }
    .uk-logo img { max-width: 30%;}
	.uk-position-top { top: 0; }
	.scroll-width{margin:0 auto; padding: 0 1rem;}
	.uk-navbar{border-bottom: 0.05rem solid #ffffff; }
	.scroll-graphic{position: sticky; top:0;}
	.step2-video p{ font-size: 13px;font-weight: 400;line-height: 1.5em;word-break: keep-all;position: relative;text-align: justify; 
        max-width: 400px!important; height: auto !important; margin: 45px auto; position: relative;}
    .step3-video {padding: 0 50px; margin-top: 100px; }
    .step2-video {  position: relative;top: 0;left: 0;right: 0;padding-top: 75px;width: 80%;margin: 0 auto;}
	.scroll-text{position: relative; }	
	.step{ color:white; font-size: 0.8rem;	 font-weight: 200;  line-height: 1.5em;}
    .case-slider { margin-top: 60px}
    .scene-img { max-width: 100vw;}
    .step5-tit >img {max-width:43% ; margin-top:30px; }
    .scroll-width{margin:0 auto;   padding: 0 0; max-width: 1920px;}
    .graphic-item{ position: absolute; top:0;left: 0; display: flex;  align-items: center; justify-content: center; width: 100%; }
    .bg-video {position: relative; width: 100%; height: 100%; margin: 0 auto; }
    .height1400{height: 600px;}
    /*foot 타이포 슬라이드 */
    #content-slide{ margin: 0; padding: 0; box-sizing: border-box;}
    .viewBox{ width: 100%; height: 100px; margin-top: 20px;}
    .slideBox{ width: 500%; height: 100%; display: flex; animation: flowText 20s linear infinite;}
    .leftBox, .rightBox{ width: 50%; height: 100%; display: flex; justify-content: space-around; align-items: center;}
    .slideItem{ font-size: 1rem; font-weight:thin; color: #ffffff; font-family: 'Montserrat', sans-serif;letter-spacing: 2px;}

        @keyframes flowText {
            0% {transform: translateX(0);}
            100%{transform: translateX(-50%);}    
        }

    .text-ani{ position: absolute; top:0;left:0;right: 0; }
    .motion-e { position: absolute;top: 216px;right: -160px;}
    .motion-m{ position: absolute;top: 237px;left: 23px;width: 20%;}
    .motion-this{ position: absolute; top: 43px;left: 136px; width: 40%;}

   /* .motion-m > img{width: 50%;}
    .motion-this > img{width: 50%;}*/

    .uk-inline{margin-left: 15px; margin-right: 15px;}

    button.uk-button.uk-button-default.popup_a {
        border: hidden;     display: contents;}
    
    .content-pop{
        position: relative;
        background: rgba(100, 100, 100, 0.8);
        border-radius: .4em;
        transition: all .2s;
    }
    
    .content-pop:after {
        content: '';
        position: absolute;
        top: 0;
        left: 40%;
        width: 0;
        height: 0;
        border: 13px solid transparent;
        border-bottom-color: rgba(100, 100, 100, 0.8);
        border-top: 0;
        margin-left: -13px;
        margin-top: -13px;
    }
    .content-pop p {
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        color: #ffffff;
        line-height: 1; 
        padding: 10px;
    }
    .popup1 {
        position: absolute;
        top: 275px !important;
        left: 92px !important;
        width: 188px !important;
    } 
    .popup2{
        position: absolute;
        top: 438px !important;
        left: 414px !important;
        width: 175px !important;
        }       
    .popup3 {
        position: absolute;
        top: 227px !important;
        left: 197px !important;
        width: 95px !important;
    }

    .popup4 {
        position: absolute;
        top: 158px !important;
        left: 399px !important;
        width: 182px !important;
    }

    .popup5 {
        position: absolute;
        top: 648px !important;
        left: 251px !important;
        width: 134px !important;
    }

    .popup6{
        position: absolute;
        top: 138px !important;
        left: 54px !important;
        width: 120px !important;
    }

    .popup7 {
        position: absolute;
        top: 133px !important;
        left: 268px !important;
        width: 94px !important;
    }
    .popup8 {
        position: absolute;
        top: 124px !important;
        left: 443px !important;
        width: 85px !important;
    }      
    .product01{
        width: 49% !important;
        padding: 5px!important;
    }

    .product02{
        width:1057px!important;
        padding: 7px!important;
    }
    .product03{
        width: 49%!important;
        padding: 5px!important;
        margin-top: 15px!important;
    }
    .product05{
        width:1057px!important;
        padding: 7px!important; 
    }
    .product06{
        width: 30%!important;
        padding: 5px!important; 
    }       
    .step9-img{  margin-bottom: 100px;}
    .pro-mv {
        margin-top: 20px;}
    
    }      

/********************* Mobile *********************/
    @media (max-width: 430px) {
        .text-ani{ position: absolute; top:10px;left:0;right: 0; }
        .motion-e { position: absolute;top:120px;right: -65px;}
        .motion-e > img{width: 25%;}
        .motion-m{ position: absolute;top: 130px;left: 24px;}
        .motion-this{ position: absolute; top: 43px;left: 74px; }
        .step5-tit >img {max-width:43% ; margin-top:30px; padding-top:0;}
        
        .height1400{height: 342px;}
        .scroll-width{margin:0 auto; padding: 0 1rem;}
        .scroll-graphic{position: sticky; top:0;}
        .footer{margin-top:30px; bottom:0;}
        .bg-video {position: relative; width: 100%; height: 100%; margin: 0 auto; }
        button.uk-button.uk-button-default.popup_a {
            border: hidden;     display: contents;}
        
        .content-pop{
            position: relative;
            background: rgba(100, 100, 100, 0.8);
            border-radius: .4em;
            transition: all .2s;
        }
        
        .content-pop:after {
            content: '';
            position: absolute;
            top: 0;
            left: 40%;
            width: 0;
            height: 0;
            border: 13px solid transparent;
            border-bottom-color: rgba(100, 100, 100, 0.8);
            border-top: 0;
            margin-left: -13px;
            margin-top: -13px;
        }
        .content-pop p {
            text-transform: uppercase;
            font-weight: 300;
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
            color: #ffffff;
            line-height: 1; 
            padding: 10px;
        }
        .popup1 {
            position: absolute;
            top: 161px !important;
            left: 34px !important;
            width: 214px !important;
        } 
        .popup2{
            position: absolute;
            top: 279px !important;
            left: 200px !important;
            width: 121px !important;
            }       
        .popup3 {
            position: absolute;
            top: 142px !important;
            left: 36px !important;
            width: 165px !important;
        }
    
        .popup4 {
            position: absolute;
            top: 126px !important;
            left: 180px !important;
            width: 160px !important;
        }
    
        .popup5 {
            position: absolute;
            top: 350px !important;
            left: 50px !important;
            width: 149px !important;
        }
    
        .popup6{
            position: absolute;
            top: 86px !important;
            left: 6px !important;
            width: 100px !important;
        }
    
        .popup7 {
            position: absolute;
            top: 95px !important;
            left: 128px !important;
            width: 112px !important;
        }
        .popup8 {
            position: absolute;
            top: 77px !important;
            left: 250px !important;
            width: 95px !important;
        }      
        .product01{
            width: 45% !important;
            padding: 5px!important;
        }
    
        .product02{
            width:91%!important;
            padding: 7px!important;
        }
        .product03{
            width: 45%!important;
            padding: 5px!important;
            margin-top: 15px!important;
        }
        .product05{
            width:91%!important;
            padding: 7px!important; 
        }
        .product06{
            width: 30%!important;
            padding: 5px!important; 
        }       
    
    }